In [1]:


import pandas as pd
data=pd.read_csv('diabetes.csv')
data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [3]:
mc=data.head(5)
mc
bc= data.tail(5)
bc

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
middle_index = len(data) // 2
start_index = max(0, middle_index - 5)

end_index = min(len(data), middle_index + 5)

middle_data = data[start_index:end_index]
middle_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
379,0,93,100,39,72,43.4,1.021,35,0
380,1,107,72,30,82,30.8,0.821,24,0
381,0,105,68,22,0,20.0,0.236,22,0
382,1,109,60,8,182,25.4,0.947,21,0
383,1,90,62,18,59,25.1,1.268,25,0
384,1,125,70,24,110,24.3,0.221,25,0
385,1,119,54,13,50,22.3,0.205,24,0
386,5,116,74,29,0,32.3,0.660,35,1
387,8,105,100,36,0,43.3,0.239,45,1
388,5,144,82,26,285,32.0,0.452,58,1